@import '../variables.scss';

.fs_sm {
    font-size: 0.7rem;
}

.comic_main {

    border-bottom: 1px solid lightgray;

    .comic_banner {
        height: 60px;
        background-color: $primary_theme;
    }
    
    .comic_cover {
        width: 140px;
        position: absolute;
        left: 0;
        bottom: calc(100% + 10px);
        border: 1px solid white;
    
        .custom_label {
            background-color: rgb(101, 186, 242);
            color: white;
            font-size: 0.8rem;
        }
    }
    

    
    .bg-green {
        background-color: rgb(67, 202, 83);
    }
}

.comic_info {
    .border_custom {
        border-bottom: 1px solid lightgray;
        padding: 0.4rem 0;
    }
}